@import url("../basics.css");
@import url("./recipeContent.css");
@import url("./authorContent.css");
/*------------------------------------ Recipe SECTION ------------------------------------*/
.recipe-container {
  padding: 2rem 0;
  margin: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

/*------------------------------------ RESPONSIVE ---------------------------------------*/

@media (min-width: 1024px) {
  .recipe-container {
    flex-direction: row;
  }
  .contact-data {
    width: 50%;
  }
}
